
# Created by https://www.gitignore.io/

# User-specific stuff:
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/dictionaries

# Gradle:
.idea/**/gradle.xml
.idea/**/libraries

# IntelliJ
/out/

### Java ###
# Compiled class file
*.class

# Log file
*.log

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

exam-designer\.db
