
*.xml
*.xml
*.class
.idea/misc.xml
*.png
target/classes/languages/labels.properties
*.fxml
*.properties
*.json
*.iml
.idea/misc.xml
examdesigner.iml
examdesigner.iml
examdesigner.iml
examdesigner.iml
.idea/misc.xml
